{% extends "app/base.html" %}

{% block content %}
  {{ lessons.user.name }}
  <h1>レッスン受講記録一覧</h1>
  <a class="btn btn-primary" href="{% url 'app:lessons_new' %}">新規作成</a>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>名前</th>
      <th>性別</th>
      <th>年齢</th>
      <th></th>
    </thead>
    {% for lesson in lessons %}
      <tbody>
        <tr>
          <td>{{ lesson.user.id }}</td>
          <td>{{ lesson.user.name }}</td>
          <td>{{ lesson.user.get_sex_display }}</td>
          <td>{{ lesson.user.age }}</td>
          <td><a href="{% url 'app:user_edit' id=user.id %}">編集</a></td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{% endblock content %}
