
{% extends "app/base.html" %}
{% load staticfiles humanize %}

{% block script %}
  <script src="{% static 'js/main.js' %}"></script>
{% endblock script %}

{% block content %}
  <h1>請求一覧</h1>
  <select id="link_to_past_month">
    <option value="">--- 月を選んでください ---</option>
  </select>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>受講者</th>
      <th>ジャンル</th>
      <th>合計レッスン数</th>
      <th>請求額</th>
    </thead>
    {% for invoice in invoices %}
      <tbody>
        <tr>
          <td>{{ invoice.user.id }}</td>
          <td>{{ invoice.user.name }}</td>
          <td>{{ invoice.curriculum_list| join:', ' }}</td>
          <td>{{ invoice.lessons.count }}</td>
          <td>¥ {{ invoice.charge|intcomma }}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
<a class="btn btn-info" href="{% url 'app:index' %}" >トップ</a>

{% endblock content %}
